# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
.atom/
.history

# Flutter/Dart/Pub related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id
/coverage/
.buildlog/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# Java/Maven
**/target/
*.class
*.jar
*.war
*.log

# Python
*.pyc

# Node
**/node_modules/

# Environment
.env
.env.*
*.local

# Archives
*.zip
*.tar.gz

# Secrets
**/secrets/
**/credentials/

# Swift
.build/
.swiftpm/
migrate_working_dir/
